*

!master.py
!pc_model.py
!para_hmm_final.py
!pvidFINAL.py
!csv_analysis.py
!Huntbout_Analysis.ipynb
!Inversion_Analysis.ipynb
!HuntingBouts_BDB.ipynb
!BDB_plot.ipynb
!Model_Plot.ipynb
!install_pythonlibs.sh
!fl_analysis.py
!BDB_file_test.ipynb
!Marr_BDB_creation.ipynb
!Marr_plotter.ipynb
!Stimulus_Analyzer.ipynb